    <div class="mb-3 card">
    <form class= "add-post">
        <label for="title" class="add-post-form">Title</label>
        <input type="text" class="form-post" id="title" placeholder="title">
        <label for="comment" class="form-label">Comment</label>
        <input type="text" id="comment" rows="3"></textarea>
        <input type="submit" class="btn"></input>
    </form>
    </div>

<script src="./js/addPost.js"></script>


