<div class="mb-3 card">
    <h3 class="header">Edit post</h3>
    <label for="post edit-post-form" class="form-label">Title</label>
    <input type="text" class="edit-post" id="edit-post-form" placeholder="title">
    <label for="post edit-post-form" class="form-label">Comment</label>
    <input type="text" class="edit-post" id="edit-post-form" placeholder="title">
    <button type="submit" class="btn">Update</button>
    <button type="button" class="delete-post-btn">Delete</button>
</div>

<script src="./js/editPost.js"></script>
<script src="./js/deletePost.js"></script>