<div class="mb-3 card">
    <label for="post new-post-form" class="new-post-form">Title</label>
    <input type="text" class="form-post" id="new-post-form" placeholder="title">
</div>
<div class="mb-3">
    <label for="post new-post-form" class="form-label">Comment</label>
    <textarea class="form-post" id="new-post-form" rows="3"></textarea>
    <button type="submit" class="btn">Submit</button>
</div>

<script src="/js/addPost.js"></script>