<div class="mb-3 card">
    <label for="post new-post-form" class="form-label">Post</label>
{{#if loggedIn}}
    <input type="text" class="form-post" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="post new-post-form" class="form-label">Comment</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" class="btn">Submit</button>
</div>
{{/if}}

    {{#if loggedIn}}
    <script src="/public/js/addPost.js"></script>
    {{/if}}